@using Calculation.Models
@{
    ViewBag.Title = "qxgl";
}

<h3>角色列表</h3>
<div id="jslb" class="row">
    @{
        List<JSXX> jslb = this.ViewBag.jslb as List<JSXX>;
        List<JSXX> yhjslb = this.ViewBag.yhjslb as List<JSXX>;
        foreach (var item in jslb)
        {
            string jsclassname = "btn btn-link ";
            string jsbh = "js" + item.jsbh;
            foreach (var yhitem in yhjslb)
            {
                if (item.jsbh == yhitem.jsbh)
                {
                    jsclassname = "btn btn-link btn-primary";
                }
            }
            <a class='@jsclassname' id="@jsbh" onclick='chouse(@item.jsbh)'>@item.jsmc</a>


        }
    }
</div>

<script>
    function chouse(a)
    {
        var obj = $("#js" + a);
        if (obj.hasClass("btn-primary")) {

            $.ajax({
                url: "/sys/Remove_YHJS",
                type: "post",
                data: { yhbh: @this.ViewBag.yhbh, jsbh:a },
                success: function (data) {
                    obj.removeClass("btn-primary");
                }
            })
        }
        else {
            $.ajax({
                url: "/sys/ADD_YHJS",
                type: "post",
                data: { yhbh: @this.ViewBag.yhbh, jsbh:a },
                success: function (data) {
                    obj.addClass("btn-primary");
                }
            })
        }
    }

</script>

