@using Calculation.Models
@{
    Layout = null;
}
<div class="panel-body">
    <div class="panel panel-border panel-primary">
        <div class="panel-heading"><h3 class="panel-title">选择用户角色</h3></div>
        <div class="panel-body">
            <div class="form-group">
                <div id="jslb" class="row">
                    @{
                        List<JSXX> jslb = this.ViewBag.jslb as List<JSXX>;
                        List<JSXX> yhjslb = this.ViewBag.yhjslb as List<JSXX>;
                        foreach (var item in jslb)
                        {
                            string jsclassname = "btn btn-link ";
                            string jsid = "js" + item.jsbh;
                            string icon = "md-chevron-right";
                            foreach (var yhitem in yhjslb)
                            {
                                if (item.jsbh == yhitem.jsbh)
                                {
                                    jsclassname = "btn btn-link btn-primary";
                                    icon = "md-check";
                                }
                            }
                            <a class='@jsclassname' id="@jsid" onclick='chouse(@item.jsbh)'><i class="@icon"></i><span>@item.jsmc</span></a>
                        }
                    }
                </div>

            </div> <!-- panel -->
        </div> <!-- col-->
    </div>
</div>
    <script>
                    function chouse(a)
                    {
                        var obj = $("#js" + a);
                        if (obj.hasClass("btn-primary")) {

                            $.ajax({
                                url: "/sys/Remove_YHJS",
                                type: "post",
                                data: { yhbh: @this.ViewBag.yhbh, jsbh:a },
                                success: function (data) {
                                    obj.removeClass("btn-primary");
                                    obj.find("i").removeClass("md-check")
                                    obj.find("i").addClass("md-chevron-right")
                                }
                            })
                        }
                        else {
                            $.ajax({
                                url: "/sys/ADD_YHJS",
                                type: "post",
                                data: { yhbh: @this.ViewBag.yhbh, jsbh:a },
                                success: function (data) {
                                    obj.addClass("btn-primary");
                                    obj.find("i").removeClass("md-chevron-right")
                                    obj.find("i").addClass("md-check")
                                  
                                }
                            })
                        }
                    }

    </script>

