@using Calculation.Models
@{
    ViewBag.Title = "add_zbrw";
    
    ZB_ZJ_CS cs = this.ViewBag.zjcs as ZB_ZJ_CS;
}

<div>
    <input type="hidden" name="mbid" class="form-control" value="@this.ViewBag.mbid" id="mbid" />
    <input type="text" class="form-control" placeholder="任务名称" name="rwmc" id="rwmc" />
    <input type="text" class="form-control" placeholder="年份" name="nf" id="nf" value="@this.ViewBag.bn" />
    <input type="text" class="form-control" placeholder="周次" name="zc" id="zc" value="@this.ViewBag.bz"  />
    <input type="button" value="确认添加" class="btn btn-primary " onclick="tt()" />
    <input type="hidden" id="zjcs_nf"  value="@cs.nf" />
    <input type="hidden" id="zjcs_zc" value="@cs.zc" />
</div>
<script>
    function tt(){
        
        $.ajax({
            url: "/zb/add_zbrw",
            type: "post",
            data: { mbid: $("#mbid").val(), rwmc: $("#rwmc").val(), nf: $("#nf").val(), zc: $("#zc").val(), zjcs_nf: $("#zjcs_nf").val(), zjcs_zc: $("#zjcs_zc").val() },
            success: function (data) {
                if (data.IsSuccessful) {
                    $('#fbrw').modal('hide');
                }
                else
                {
                    alert(data.ErrMsg);
                }
            }
        })
    }
</script>